/* Styles for surprise interaction */

section.stories:first-of-type.loading
    width: 5em
    height: 5em
    margin: 0 auto
    animation-name: loading
    animation-duration: 2s
    animation-iteration-count: 3
    animation-fill-mode: forwards
    border-radius: 50%
    border: 8px solid
    border-top-color: $secondary-color
    border-left-color: $secondary-color
    border-right-color: transparent
    border-bottom-color: $secondary-color

/* End styles for surprise interaction */

/* Styles for searchform fallback button (error state) */

body 
    & > section:first-of-type 
        & > button
            margin: 1em 0
            padding: 1em 2em
            text-transform: uppercase
        & > p
            max-width: 30em
            margin: 0 auto
            font-weight: 700
/* End styles for searchform error state button */

/* Styles for download interaction */    
@keyframes loading
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

button#download
    transition: .4s

button#download.loading
    background-color: transparent
    background-image: none!important
    animation-name: loading
    animation-duration: 2s
    animation-iteration-count: 3
    animation-fill-mode: forwards
    border-radius: 50%
    border: 6px solid
    border-top-color: $secondary-color
    border-left-color: $secondary-color
    border-bottom-color: $secondary-color

button#download.error
    background-image: url('../images/error2.svg')!important
    background-size: 30%
    background-position: center
    background-color: $primary-y
    border-radius: 50%
    padding: 1.2em

button#download.finished
    background-color: transparent
    background-image: url('../images/downloaded.svg')!important


/* Pop up's when download did or did not succeed */

body > div
    transition: .5s ease
    text-align: center
    color: $dark
    position: fixed
    font-size: 1.2em
    z-index: 999
    right: .4rem
    left: .4rem
    bottom: -999px
    padding: 0 5%
    @media screen and (min-width: 30em)
        padding: 2em 10%
body > div.show
    bottom: 0

body > div.error
    background-color: $primary-y

body > div.success
    background-color: $secondary-color

/* End download interaction */