*
    box-sizing: border-box 

body
    padding: 0 10%
    margin: 0
    position: relative

ul
    list-style: none
    padding: 0
 
button
    cursor: pointer
    border: none
    height: 2em
    width: 2em
    background-repeat: no-repeat
    background-size: cover
    background-color: transparent

input[type=submit]
    cursor: pointer

ul
    display: flex
    justify-content: space-between

header > nav ul
    align-items: flex-start
    height: 3em
    border-bottom: 1px solid lightgrey
    margin-top: 2em
    li
        max-width: 33%
        img
            max-width: 5em
    li > button
        background-image: url('../images/filter.svg')

aside
    position: absolute
    top: 5.8em
    bottom: 0
    left: 0
    right: 0
    display: none
    padding: 0 10%