*
    box-sizing: border-box 

body
    padding: 0 10%
    margin: 0
    position: relative

ul
    list-style: none
    padding: 0
 
button
    cursor: pointer
    border: none
    height: 2em
    width: 2em
    background-repeat: no-repeat
    background-size: cover
    background-color: transparent

input[type=submit]
    cursor: pointer

ul
    display: flex
    justify-content: space-between

header > nav ul
    align-items: flex-start
    height: 3em
    border-bottom: 1px solid lightgrey
    margin-top: 2em
    li
        max-width: 33%
        img
            max-width: 5em
        & > button
            padding: 0
            height: 2em
            width: 2em
            background: pink
            & > span
                width: 100%
                height: 1px
                background: black
        

.visually-hidden
    display: none

.btn
    color: white
    background-color: $secondary-color
    border-radius: 3px
    font-weight: 900
