/* Sorteer blok styling */

fieldset
    legend 
        margin-bottom: 1.2em
    div
        display: flex
        justify-content: space-between
        margin: 0
        max-width: 100%
        position: relative
        label
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            transition: .2s ease
            border: 1px solid $secondary-color
            width: 26%
            padding: 1em 2em
            font-size: .8em
            @media screen and (min-width: 60em)
                font-size: 1em
            &.active
                background: $secondary-color
                color: white
        input[type="radio"]:checked + label
            background: $secondary-color
            color: white
        input[type="submit"]
            -webkit-appearance: none
            opacity: 0
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100%


/* End sorteer blok styling */
        
/* Search on title form + button */
form#story-search
    position: relative
    button
        background: $secondary-color
        background-image: url('../images/search.svg')
        background-repeat: no-repeat
        background-size: 70%
        background-position: center
        border-radius: 100%
        height: 4rem
        width: 4rem
        position: fixed
        right: 13%
        bottom: 1.5%
        opacity: 1
        z-index: 2
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .2)
        transition: all .5s ease
        &.hide
            bottom: -999px
            opacity: 0

    fieldset
        position: fixed
        z-index: 1
        right: .3em
        left: .3em
        bottom: -999px
        background: $primary-y
        padding: 2em 5%
        @media screen and (min-width: 30em)
            padding: 2em 10%
        transition: all .5s ease
        &.show
            bottom: 0
        label
            display: block
            margin-bottom: 1em
            font-weight: 500
        input
            border: none
            padding: 1em
            width: 100%
            border-radius: 3px
            margin-right: 1.3em
            transition: 0.6s ease-in
        input[type="submit"]
            max-width: 50%
            margin-top: 1.6em

/* End search on type + button */

/* Zero state block */

header:first-child
    & > section
        position: relative
        background: url('../../images/zero-state_background.max.jpg')
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        margin: 2.5em 0
        color: white
        z-index: 999
        & > div.overlay
            width: 100%
            height: 100%
            padding: 2em 4em
            opacity: .8
            background-color: $secondary-color
            & > h1
                text-align: left
            & > p
                text-transform: uppercase
            & > p,
            & > h1
                max-width: 30rem
                margin: .25em auto


/* End zero state block */