/* Generic styles */
* {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  padding: 0 5%;
  margin: 0;
  position: relative; }
  @media screen and (min-width: 30em) {
    body {
      border: 0.5em solid #952D87;
      padding: 0 10%; } }
  body.noScroll {
    overflow: hidden; }
  body > section:last-of-type {
    margin-bottom: 4em; }

ul {
  list-style: none;
  padding: 0; }

button {
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: transparent; }

input[type=submit] {
  cursor: pointer; }

fieldset {
  text-align: center;
  border: none;
  padding: 0; }

ul {
  display: flex;
  justify-content: space-between; }

header > nav ul {
  align-items: flex-start;
  height: 3em;
  border-bottom: 1px solid lightgrey;
  margin-top: 2em; }
  header > nav ul li {
    max-width: 33%; }
    header > nav ul li img {
      max-width: 6em; }
    header > nav ul li > button {
      text-align: center;
      position: relative;
      padding: 0;
      height: 2em;
      width: 2.5em; }
      header > nav ul li > button > span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid #952D87;
        transition: all 0.6s ease-in; }
      header > nav ul li > button > span:nth-child(2) {
        top: 50%;
        width: 70%;
        margin: 0 auto; }
        header > nav ul li > button > span:nth-child(2).is-open {
          opacity: 0; }
      header > nav ul li > button > span:last-child {
        bottom: 0;
        width: 40%;
        margin: 0 auto; }
        header > nav ul li > button > span:last-child.is-open {
          transform: rotate(-45deg);
          width: 100%;
          transform-origin: bottom left; }
      header > nav ul li > button > span:first-child.is-open {
        transform: rotate(45deg);
        transform-origin: top left; }

.visually-hidden {
  display: none !important; }

.btn {
  color: white;
  background-color: #952D87;
  border-radius: 3px;
  font-weight: 900; }

/* End generic styles */
/* Text styles */
body {
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Museo Sans';
  color: #2B4040; }

h1,
h2,
h3,
h4 {
  text-align: center; }

h1 {
  font-size: 4em;
  font-weight: 100; }

h2,
legend {
  font-size: 1.6em;
  font-weight: 900;
  color: #952D87; }

h3 {
  font-size: 1.2em; }

a {
  font-size: 0.8em;
  font-weight: 700; }

/* End text styles */
/* Filter styles */
form#filter {
  background-color: white;
  position: fixed;
  top: 4.5rem;
  left: -100vw;
  z-index: 9999;
  width: 99%;
  bottom: 0;
  padding: 5rem 10%;
  transition: .6s ease-in; }
  form#filter.show {
    left: 6px;
    right: 6px; }
  form#filter label.lbl-block {
    display: block;
    margin-bottom: 1.3em;
    font-size: 1.6em;
    font-weight: 900;
    color: #952D87;
    text-align: center; }
  form#filter input[type="range"] {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    width: 100%;
    height: .6rem;
    background: #F4EEE8;
    border-radius: 50rem;
    cursor: pointer; }
    form#filter input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 1.3rem;
      height: 1.3rem;
      background: #952D87;
      border-radius: 100%;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  form#filter fieldset {
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2.6em; }
    form#filter fieldset legend {
      margin-bottom: 1.3em;
      width: 100%;
      text-align: center; }
  form#filter button[type="submit"] {
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 1em;
    margin: 0 auto;
    padding: 2em 4em;
    color: white;
    background: #952D87;
    margin-top: 8em; }

/* Filter result page styles */
body > section:first-of-type > ul {
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.4em 0; }
  body > section:first-of-type > ul li {
    max-width: 15em;
    text-align: center;
    font-size: .8em;
    margin-right: .5em;
    padding: 1em 2em;
    color: white;
    font-weight: 300;
    border-radius: 3px;
    background: #FFDF5D; }

/* End filter result page styles */
/* End filter styles */
/* Genre block with stories styling */
.genre {
  position: relative; }
  .genre > h2 {
    color: #2B4040;
    font-weight: 500; }
  .genre > .stories {
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(24, 25em);
    column-gap: 2em;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch; }
    @media screen and (min-width: 40em) {
      .genre > .stories {
        grid-template-columns: repeat(2, 48%);
        row-gap: 2em; } }
    @media screen and (min-width: 60em) {
      .genre > .stories {
        grid-template-columns: repeat(3, 31.7%); } }
    .genre > .stories::-webkit-scrollbar {
      display: none; }
    .genre > .stories > article {
      border: 1px solid lightgrey;
      min-width: 90%;
      max-width: 100%;
      scroll-snap-align: center; }
      .genre > .stories > article footer figure {
        position: relative;
        margin: 0;
        overflow: hidden;
        height: 30em; }
        .genre > .stories > article footer figure > img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        .genre > .stories > article footer figure figcaption {
          position: absolute;
          color: white;
          font-weight: 300;
          bottom: 0;
          left: 1.4em;
          background: #952D87;
          padding: .5em 2em; }
      .genre > .stories > article header {
        width: 90%;
        padding: 1.4em 1.4em;
        display: grid;
        grid-template-columns: 77% 33%;
        column-gap: .5em; }
        .genre > .stories > article header > section {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 8em 1fr; }
        .genre > .stories > article header button {
          padding: 1em;
          margin-bottom: .3em; }
        .genre > .stories > article header button#download {
          background-image: url("../images/download.svg"); }
        .genre > .stories > article header > section {
          justify-self: start;
          margin: 0; }
          .genre > .stories > article header > section h4 {
            text-align: left;
            margin: 0;
            font-weight: 500;
            font-size: 1.4em;
            line-height: 1.4;
            grid-row: 1/2; }
          .genre > .stories > article header > section p {
            margin: 0; }
          .genre > .stories > article header > section h4,
          .genre > .stories > article header > section p {
            grid-column: 1/2; }
        .genre > .stories > article header > ul {
          text-align: center;
          justify-self: end;
          display: block;
          margin: 0; }
          .genre > .stories > article header > ul li {
            position: relative;
            margin-bottom: .5em; }
          .genre > .stories > article header > ul li:last-child::after {
            content: "";
            position: absolute;
            bottom: -0.7em;
            left: 0;
            right: 0;
            border-top: 4px solid #FFDF5D; }

/* End stories block styling */
/* Sorteer blok styling */
fieldset#sortOptions legend {
  margin-bottom: 1.2em; }

fieldset#sortOptions div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative; }
  fieldset#sortOptions div label {
    transition: .2s ease;
    border: 1px solid #952D87;
    width: 26%;
    padding: 1em 2em;
    text-align: center;
    font-size: 1vw; }
    fieldset#sortOptions div label.active {
      background: #952D87;
      color: white; }
    fieldset#sortOptions div label input {
      position: absolute;
      display: none; }
  fieldset#sortOptions div input[type="submit"] {
    -webkit-appearance: none;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }

/* End sorteer blok styling */
/* Search on title form + button */
form#story-search {
  position: relative; }
  form#story-search button {
    background: #952D87;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    position: fixed;
    right: 13%;
    bottom: 1.5%;
    opacity: 1;
    z-index: 2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.6s 0.5s; }
    form#story-search button.hide {
      bottom: -999px;
      opacity: 0; }
  form#story-search fieldset {
    position: fixed;
    z-index: 1;
    right: .3em;
    left: .3em;
    bottom: -999px;
    background: #FFDF5D;
    padding: 2em 5%;
    transition: 0.6s ease-in; }
    @media screen and (min-width: 30em) {
      form#story-search fieldset {
        padding: 2em 10%; } }
    form#story-search fieldset.show {
      bottom: 0; }
    form#story-search fieldset label {
      display: block;
      margin-bottom: 1em;
      font-weight: 500; }
    form#story-search fieldset input {
      border: none;
      padding: 1em;
      width: 100%;
      border-radius: 3px;
      margin-right: 1.3em;
      transition: 0.6s ease-in; }
    form#story-search fieldset input[type="submit"] {
      max-width: 50%;
      margin-top: 1.6em; }

/* End search on type + button */
/* Zero state block */
header:first-child > section {
  position: relative;
  background: url("../../images/zero-state_background.max.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2.5em 0;
  color: white;
  z-index: 999; }
  header:first-child > section > div.overlay {
    width: 100%;
    height: 100%;
    padding: 2em 4em;
    opacity: .8;
    background-color: #952D87; }
    header:first-child > section > div.overlay > h1 {
      text-align: left; }
    header:first-child > section > div.overlay > p {
      text-transform: uppercase; }
    header:first-child > section > div.overlay > p,
    header:first-child > section > div.overlay > h1 {
      max-width: 30rem;
      margin: .25em auto; }

/* End zero state block */
